[submodule "bootloader"]
	path = bootloader
	url = https://github.com/davidgfnet/stm32-dfu-bootloader.git
[submodule "app/tinyusb"]
	path = app/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "app/ffb-lib"]
	path = app/ffb-lib
	url = https://github.com/Log1cFX/Force-Feedback-Library.git
